/* Diseño del Grid */
.grid {
  display: grid;
  grid-template-columns: 17vh 20vh 20vh 20vh 20vh 20vh 20vh 17vh;
/*  grid-template-rows: 8vh 12.5vh 12.5vh 12.5vh 12.5vh 12.5vh 12.5vh 8vh;
*/  grid-template-rows: 20vh 20vh 20vh 20vh 20vh 20vh 20vh 20vh;
}

/* ---------- Posiciones de cada elemento ----------- */

/* Posicion de cada jugador */
.player_1_pos { grid-column: 1 / span 2; grid-row: 1 / span 2; font-size: 14px;}
.player_2_pos { grid-column: 7 / span 2; grid-row: 1 / span 2; font-size: 14px;}
.player_3_pos { grid-column: 1 / span 2; grid-row: 3 / span 2; font-size: 14px;}
.player_4_pos { grid-column: 7 / span 2; grid-row: 3 / span 2; font-size: 14px;}

/* Posicion celdas del tablero */
.start_cell_pos { grid-column: 2; grid-row: 1;}
.prop1_cell_pos { grid-column: 3; grid-row: 1;}
.prop2_cell_pos { grid-column: 4; grid-row: 1;}
.prop3_cell_pos { grid-column: 5; grid-row: 1;}
.prop4_cell_pos { grid-column: 6; grid-row: 1;}
.first_hotchair_cell_pos { grid-column: 7; grid-row: 1;}
.prop5_cell_pos { grid-column: 7; grid-row: 2;}
.prop6_cell_pos { grid-column: 7; grid-row: 3;}
.cave_cell_pos { grid-column: 7; grid-row: 4;}
.prop7_cell_pos { grid-column: 6; grid-row: 4;}
.prop8_cell_pos { grid-column: 5; grid-row: 4;}
.prop9_cell_pos { grid-column: 4; grid-row: 4;}
.prop10_cell_pos { grid-column: 3; grid-row: 4;}
.second_hotchair_cell_pos { grid-column: 2; grid-row: 4;}
.prop11_cell_pos { grid-column: 2; grid-row: 3;}
.prop12_cell_pos { grid-column: 2; grid-row: 2;}

/* Posicion seccion de preguntas */
.question_pos { grid-column: 3 / span 2; grid-row: 2 / span 2; }

/* Posicion seccion del Dado */
.dice_pos { grid-column: 5; grid-row: 3;}

/* Posicion seccion de fin de turno */
.finish_turn_pos { grid-column: 6; grid-row: 3;}

/* --------------------------------------------------- */

/* ---------- Estilos de cada elemento -------------- */

/* Estilo de cada grid de jugador */
.player_1_sty   { background-color: #A2DED0; text-align: left;}
.player_2_sty  { background-color: #F4D03F; text-align: right;}
.player_3_sty   { background-color: #6C7A89; text-align: left;}
.player_4_sty { background-color: #59ABE3; text-align: right;}

/* Estilo de celdas del tablero */
.cell_sty { background-color: #FFFFFF; text-align: center; border-style: dotted; border-width: 0.5px;}
.corner_cell_sty { background-color: #FF00FF; text-align: center;}

/* Estilo de seccion de preguntas */
.question_sty { background: #FFB9AA; text-align: center; font-size: 10px;}

/* Estilo del dado */
.dice_sty { background: #FFDEAD; text-align: center;}

/* Estilo de seccion fin de turno */
.finish_turn_sty { background: #FFD700; text-align: center;}

/* ------------------------------ */

/* Inicio de estilos de la pagina*/
body {
  margin: 0;
  font-family: Arial;
  background-color: #f2f2f2;
}

h1
{
	text-align: center;
}

#site_tagline {
  text-align: center;
  margin: 1cm;
}

#site_menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  font-size: 1.5em;
}

li {
	display:inline;
}

li a {
  display: inline-block;
  color: black;
  padding: 0px 50px;
  text-decoration: none;
}

li.verticalList {
  display:list-item;
}

body
{
 font-family: "Lucida Grande", sans-serif;
 margin: 1cm;
}

p {
  color: black;
}

table, th, td {
  border: 1px solid black;
  text-align: center;
  padding: 3px;
}

th {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

span {
  opacity: 0.3;
  font-weight: bold;
  font-size: 3.5em;
  position: absolute;
  z-index: -1;
}

p.hometown {
  color: black;
}

h2.centerh2heading {
  text-align: center;
}

  #diceBox {
    height: 35px;
    width: 80px;
    border: 4px solid black;
    border-radius: 20px;
    margin: 0px auto 0px auto;
    font-size: 60px;
    padding: 20px;
    line-height: 1;
    background-color: oldlace;
  }

  .cell_sty img {
    width: 20%; // to maintain aspect ratio. You can use 100% if you don't care about that
    height: 20%;
    display: block;
    margin: auto;
  }

  .corner_cell_sty img {
    width: 20%; // to maintain aspect ratio. You can use 100% if you don't care about that
    height: 20%;
    display: block;
    margin: auto;
  }

  #dice {
    font-size: 100px;
  }
  #dice:hover {
    cursor: pointer;
  }

  #wrap1 { width: 100%; height: 100%; margin: 0 auto; position: relative; }
  #wrap1 img {
    position: absolute;
    /*    border: 0;*/
/*    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;*/
    transition: all 1s ease-out;
  }

  #wrap2 { width: 100%; height: 100%; margin: 0 auto; position: relative; }
  #wrap2 img {
    position: absolute;
    /*    border: 0;*/
/*    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;*/
    transition: all 1s ease-out;
  }

  #wrap3 { width: 100%; height: 100%; margin: 0 auto; position: relative; }
  #wrap3 img {
    position: absolute;
    /*    border: 0;*/
/*    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;*/
    transition: all 1s ease-out;
  }

  #wrap4 { width: 100%; height: 100%; margin: 0 auto; position: relative; }
  #wrap4 img {
    position: absolute;
    /*    border: 0;*/
/*    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;*/
    transition: all 1s ease-out;
  }

/*  .tg th{
    font-size: 8px;
    border-collapse: collapse;
  }

  table.tg {
    border-collapse: collapse;
    border-spacing: 0;
    border: 0px;
  }

  .tg td {
    border-collapse: collapse;
    padding:0px;
    border-width:0px;
    margin:0px;
  }

  .tg {
    border-spacing: 0px;
    border-collapse:collapse;  /* <--- add this so all the internal <td>s share adjacent borders  */
/*    border:1px solid black;
  }
*/

  .tg th {
    font-size: 7.5px;
    border-spacing: 0px;  /* <---- won't really need this if you have border-collapse = collapse */
    border-style:none;
  }

  .tg tr {

  }

  .multipleChoice {
    font-weight: bold;
  }
