/* Diseno del Grid */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40vh 40vh;
}

/* ---------- Posiciones de cada elemento ----------- */

/* Posicion de cada jugador */
.player_1_pos { grid-column: 1 grid-row: 1; z-index: 5;}
.player_2_pos { grid-column: 2; grid-row: 1;}
.player_3_pos { grid-column: 1; grid-row: 2;}
.player_4_pos { grid-column: 2; grid-row: 2;}

/* Posicion del tablero */
.game_board_pos { grid-column: 1 / span 2; grid-row: 1 / span 2;
     z-index: 5; justify-self: center; align-self: center; }

/* --------------------------------------------------- */

/* ---------- Estilos de cada elemento -------------- */

/* Estilo de cada grid de jugador */
.player_1_sty   { background-color: #A2DED0; text-align: left;}
.player_2_sty  { background-color: #F4D03F; text-align: right;}
.player_3_sty   { background-color: #6C7A89; text-align: left;}
.player_4_sty { background-color: #59ABE3; text-align: right;}

/* Estilo del tablero */
.game_board_sty { background-color: #FFFFFF; padding-top: 15em; padding-bottom: 15em;
	 padding-left: 30em; padding-right: 30em;}


/* ------------------------------ */

/* Inicio de estilos de la pagina*/
body {
  margin: 0;
  font-family: Arial;
  background-color: #f2f2f2;
}

h1
{
	text-align: center;
}

#site_tagline {
    text-align: center;
    margin: 1cm;
}

#site_menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    font-size: 1.5em;
}

li {
	display:inline;
}

li a {
    display: inline-block;
    color: black;
    padding: 0px 50px;
    text-decoration: none;
}

li.verticalList {
    display:list-item;
}


body
{
   font-family: "Lucida Grande", sans-serif;
   margin: 1cm;
}

p {
    color: black;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
    padding: 3px;
}

th {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

span {
    opacity: 0.3;
    font-weight: bold;
    font-size: 3.5em;
    position: absolute;
    z-index: -1;
}

p.hometown {
    color: black;
}

h2.centerh2heading {
    text-align: center;
}
